/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.p
{
	text-align: center;
	text-decoration: underline;
}

.pp
{
	text-align: center;
	font-size: 0px;
	text-decoration: underline;
}

.boton{
		margin-left: 10px;
		width: 50px;
		height: 50px;
		background: transparent;
		border: none;
		background-repeat: no-repeat;
		background-image: url(/Prueba/imagenes/menu.png);
		background-position: top;
		float: left;

}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-btnhome {
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/home.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btnin {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/inscripcion.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btnre {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/reinscripcion.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btnal {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/alumno.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btndo {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/docente.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btngru {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/grupos.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

.navbar-btnma {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: rgb(255,255,255);
    background-image: url("/Prueba/imagenes/materias.png");
    background-repeat: no-repeat;
    background-position: 20px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0080c0;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    font: none;
}

#sidebar ul li a {
    padding: 1px;
    font-size: 17px;
    display: block;
}

#sidebar ul li a:hover {
	border-top: 10px solid #0080c0;
	border-left: 10px solid #0080c0;
	border-right: 10px solid #0080c0;
	border-bottom: 10px solid #0080c0;
}

.p:hover
{
	color: #0080c0;
	text-shadow: gray;
}

.cero
{
	font-size: 1px;
}

.uno
{
	color: white;
	font-style: oblique;
	font-size: 17px;
}

.subins
{
	width: 0px;
	height: 0px;
	transition: all 0.3s;
}

.subinsactive
{
	width: 250px;
	height: 150px;
	transition: all 0.3s;
	text-align: center;
}

.bntsubins
{
	background: gray;
	color: white;
	text-align: center;
	margin: 20px;
}

.subrei
{
	width: 0px;
	height: 0px;
	transition: all 0.3s;
}

.subreiactive
{
	width: 250px;
	height: 104px;
	transition: all 0.3s;
	text-align: center;
}

.bntsubrei
{
	background: gray;
	color: white;
	text-align: center;
}


.subalu
{
	width: 0px;
	height: 0px;
	transition: all 0.3s;
}

.subaluactive
{
	width: 250px;
	height: 105px;
	transition: all 0.3s;
	text-align: center;
}

.bntsubalu
{
	background: gray;
	color: white;
	text-align: center;
}

.subdoc
{
	width: 0px;
	height: 0px;
	transition: all 0.3s;
}

.subdocactive
{
	width: 250px;
	height: 198px;
	transition: all 0.3s;
	text-align: center;
}

.bntsubdoc
{
	background: gray;
	color: white;
	text-align: center;
}